<div class="homepage">
    <div id="pic-bio">
      <div id="pic-container">
        <div id="pic">
        </div>
        <!-- <nav id="footer-nav">
          <ul>
            <li><a target="_blank" href="https://www.facebook.com/FreeBassCollective"><div id="facebook"></div></a></li>
            <li><a target="_blank" href="https://twitter.com/FreeBass_TX"><div id="twitter"></div></a></li>
            <li><a target="_blank" href="https://www.instagram.com/freebasscollective/"><div id="instagram"></div></a></li>
            <li><a target="_blank" href="https://soundcloud.com/freebass-collective"><div id="soundcloud"></div></a></li>
          </ul>
        </nav> -->
      </div>
    </div>
</div>
