<div class="members">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="member-details">
    <div class="membership-details-left">
      <div>
        <div class="member" id="shaman">
          <div id="shaman-logo"></div>
          <p>
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs bio and stuffs bio and stuffs
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs
          </p>
        </div>
      </div>

      <div>
        <div class="member" id="consecrate">
          <div id="consecrate-logo"></div>
          <p>
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs bio and stuffs bio and stuffs
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs
          </p>
        </div>
      </div>

      <div>
        <div class="member" id="contorta">
          <div id="contorta-logo"></div>
          <p>
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs bio and stuffs bio and stuffs
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs
          </p>
        </div>
      </div>
    </div>

    <div class="membership-details-right">
      <div>
        <div class="member" id="dex">
          <div id="dex-logo"></div>
          <p>
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs bio and stuffs bio and stuffs
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs
          </p>
        </div>
      </div>

      <div>
        <div class="member" id="gumbii">
          <div id="gumbii-logo"></div>
          <p>
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs bio and stuffs bio and stuffs
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs
          </p>
        </div>
      </div>

      <div>
        <div class="member" id="misko">
          <div id="misko-logo"></div>
          <p>
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs bio and stuffs bio and stuffs
            bio and stuffs bio and stuffs bio and stuffs bio and stuffs bio and
            stuffs bio and stuffs bio and stuffs
          </p>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
